@media (max-width: 1940px) {
  .burger {
    display: block;
    height: 10px;
    width: 48px;
    position: relative;
  }
  .burger__line {
    height: 2px;
    width: 40px;
    background-color: #fff;
    transition: 0.3s;
    position: absolute;
  }
  .burger__line:nth-child(1) {
    top: 0;
  }
  .burger__line:nth-child(2) {
    bottom: 0;
  }
  .burger.js-active .burger__line:nth-child(1) {
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
  }
  .burger.js-active .burger__line:nth-child(2) {
    transform: rotate(-45deg) translateY(-50%);
    top: 50%;
  }
  .header__menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1000;
    background-color: #E8594E;
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 0.3s;
  }
  .header__menu.js-active {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  .header__menu.js-active li {
    opacity: 1;
    transform: none;
  }
  .header__menu li {
    transition: 0.3s;
    opacity: 0;
    transform: translateX(-100px);
  }
  .header__menu li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .header__menu li:nth-child(2) {
    transition-delay: 0.3s;
  }
  .header__menu li:nth-child(3) {
    transition-delay: 0.4s;
  }
  .header__menu li:nth-child(4) {
    transition-delay: 0.5s;
  }
  .header__menu li:nth-child(5) {
    transition-delay: 0.6s;
  }
  .header__menu li:nth-child(6) {
    transition-delay: 0.7s;
  }
  .menu__list {
    align-items: center;
    flex-direction: column;
  }
}