@media (max-width:1940px){
    .burger{
        display: block;
        height: 10px;
        width: 48px;
        position: relative;
        &__line{
            height: 2px;
            width: 40px;
            background-color: #fff;
            transition: .3s;
            position: absolute;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                bottom: 0;
            }
        }
    }
    .burger.js-active{
        .burger__line{
            &:nth-child(1){
                transform: rotate(45deg) translateY(-50%);
                top: 50%;
            }
            &:nth-child(2){
                transform: rotate(-45deg) translateY(-50%);
                top: 50%;
            }
        }
    }
    .header__menu{
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        z-index: 1000;
        background-color: #E8594E;
        opacity: 0;
        transform: translateX(-100%);
        visibility: hidden;
        transition: .3s;
        &.js-active{
            opacity: 1;
            transform: none;
            visibility: visible;
            li{
                opacity: 1;
                transform: none;
            }
        }
        li{
            transition: .3s;
            opacity: 0;
            transform: translateX(-100px);
            &:nth-child(1){
                transition-delay: .2s;
            }
            &:nth-child(2){
                transition-delay: .3s;
            }
            &:nth-child(3){
                transition-delay: .4s;
            }
            &:nth-child(4){
                transition-delay: .5s;
            }
            &:nth-child(5){
                transition-delay: .6s;
            }
            &:nth-child(6){
                transition-delay: .7s;
            }
        }


    }
    .menu__list{
        align-items: center;
        flex-direction: column;
    }
    // .menu__item + .menu__item{
    //     margin-left: 0;
    // }
}